/* fonts outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body{
  font-family: 'outfit';
}

.swiper-pagination .swiper-pagination-bullet{
  background-color: #a8a8a8;
  opacity: .5;
}

.swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1;
}

.container-children {
  min-height: calc(100vh - 80px);
}
