.body-content h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.25rem;
    margin-top: -4rem;
    padding-top: 6rem;
}

.body-content h3 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.body-content h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.body-content h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.body-content h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.body-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 20px;
}

.body-content ol li {
    list-style-type: disc;
    margin-left: 15px;
}

.body-content ul li {
    list-style-type: decimal;
    margin-left: 15px;
}

.body-content a {
    color: #3b82f6;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.body-content a:hover {
    color: #08c197;
}

.body-content blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: 0.9em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.body-content blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.body-content blockquote p {
    display: inline;
}

.body-content table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.body-content tbody tr:nth-child(1) {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    text-transform: capitalize;
}

.body-content th,
.body-content td {
    padding: 12px 15px;
}

.body-content tbody tr {
    border-bottom: 1px solid #dddddd;
}

.body-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.body-content tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.body-content tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.body-content tbody tr:nth-child(1) th:nth-child(1) {
    border-top-left-radius: 8px;
}

.body-content tbody tr:nth-child(1) th:nth-last-child(1) {
    border-top-right-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .body-content h2 {
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 2.25rem;
    }

    .body-content h3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
    }

    .body-content h4 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
    }
}